.vs/
.vscode/
build/
build-*/
out/
x64/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.sln
*.vcxproj.user
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.zip
*.7z
*.rar
*.log

